<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>zfs</title>
		<link href="{{url_for('static',filename='css/jdWork.css')}}" rel="stylesheet" type="text/css"/>
		<script src="{{url_for('static',filename='js/jdWork.js')}}"></script>
	</head>

	<body>

		<div class="top">
			<img src="{{url_for('static',filename='images/1.jpg')}}" style="margin:0px;padding:0px;"  id="i1" alt="错了"/>
		</div>



		<div class="top2">
			<a href="#" class="address"><img src="{{url_for('static',filename='images/21.jpg')}}">&nbsp;地点</a>
			<ul>
				<li><a href="/login">你好，请登录</a></li>
				<li><a href="/regis" style="color:red;">免费注册</a>&nbsp;&nbsp;|</li>
				<li><a href="#">我的订单</a>&nbsp;&nbsp;|</li>
				<li><a href="#">我的京东</a>&nbsp;&nbsp;|</li>
				<li><a href="#">京东会员</a>&nbsp;&nbsp;|</li>
				<li><a href="#">企业采购</a>&nbsp;&nbsp;|</li>
				<li><a href="#">客户服务</a>&nbsp;&nbsp;|</li>
				<li><a href="#">网站导航</a>&nbsp;&nbsp;|</li>
				<li><a href="#">手机京东</a></li>
			</ul>
		</div>




		<div class="top3">
			<img src="{{url_for('static',filename='images/3.jpg')}}"   id="i1" alt="错了"/>
			<div class="topRight">
				<p id="tRp"><img src="{{url_for('static',filename='images/6.jpg')}}" /><a href="#">我的购物车</a></p>
				<img src="{{url_for('static',filename='images/7.jpg')}}" id="tR1"/>
				<img src="{{url_for('static',filename='images/8.jpg')}}" id="tR2"/>
			</div>
			<input type="text" class="topText"/>
			<img src="{{url_for('static',filename='images/4.jpg')}}"  class="imageText" alt="failed"/>
			<img src="{{url_for('static',filename='images/5.jpg')}}"  class="imageText" alt="failed"/>
			<ul class="center1">
				<a href="#"><li id="cl1">空调周年庆</li></a>
				<a href="#"><li>818神券</li></a>
				<a href="#"><li>家具家电</li></a>
				<a href="#"><li>姨妈节</li></a>
				<a href="#"><li>休闲裤男</li></a>
				<a href="#"><li>手机配件</li></a>
				<a href="#"><li>影音818</li></a>
				<a href="#"><li>七夕好礼</li></a>
				<a href="#"><li>国庆出游</li></a>
			</ul>
			<ul class="center2">
				<li id="cl2"><a href="#">秒杀</a></li>
				<li><a href="#">优惠券</a></li>
				<li><a href="#">PLUS会员</a></li>
				<li><a href="#">闪购</a></li>
				<li>|</li>
				<li><a href="#">拍卖</a></li>
				<li><a href="#">京东服饰</a></li>
				<li><a href="#">京东超市</a></li>
				<li><a href="#">生鲜</a></li>
				<li>|</li>
				<li><a href="#">全球购</a></li>
				<li><a href="#">京东金融</a></li>
			</ul>
		</div>


		<div class="left">
			<ul>
				<li><a href="#">家用电器</a></li>
				<li><a href="#">手机</a>/<a href="#">运营商</a>/<a href="#">数码</a></li>
				<li><a href="#">电脑</a>/<a href="#">办公</a></li>
				<li><a href="#">家居</a>/<a href="#">家具</a>/<a href="#">家装</a>/<a href="#">厨具</a></li>
				<li><a href="#">男装</a>/<a href="#">女装</a>/<a href="#">童装</a>/<a href="#">内衣</a></li>
				<li><a href="#">美妆</a>/<a href="#">个护清洁</a>/<a href="#">宠物</a></li>
				<li><a href="#">女鞋</a>/<a href="#">箱包</a>/<a href="#">钟表</a>/<a href="#">珠宝</a></li>
				<li><a href="#">男鞋</a>/<a href="#">运动</a>/<a href="#">户外</a></li>
				<li><a href="#">房产</a>/<a href="#">汽车</a>/<a href="#">汽车用品</a></li>
				<li><a href="#">母婴</a>/<a href="#">玩具乐器</a></li>
				<li><a href="#">食品</a>/<a href="#">酒类</a>/<a href="#">生鲜</a>/<a href="#">特产</a></li>
				<li><a href="#">艺术</a>/<a href="#">礼品鲜花</a>/<a href="#">农资绿植</a></li>
				<li><a href="#">医药保健</a>/<a href="#">计生情趣</a></li>
				<li><a href="#">图书</a>/<a href="#">音像</a>/<a href="#">电子书</a></li>
				<li><a href="#">机票</a>/<a href="#">酒店</a>/<a href="#">旅游</a>/<a href="#">生活</a></li>
				<li><a href="#">理财</a>/<a href="#">众筹</a>/<a href="#">白条</a>/<a href="#">保险</a></li>
				<li><a href="#">安装</a>/<a href="#">维修</a>/<a href="#">清洗保养</a></li>
			</ul>
		</div>


		<div class="center">
			<ul id="showul">
				<li id="l1" onmousemove="show(13)">○</li>
				<li id="l2" onmousemove="show(14)">○</li>
				<li id="l3" onmousemove="show(15)">○</li>
				<li id="l4" onmousemove="show(16)">○</li>
				<li id="l5" onmousemove="show(17)">○</li>
				<li id="l6" onmousemove="show(18)">○</li>
				<li id="l7" onmousemove="show(19)">○</li>
				<li id="l8" onmousemove="show(20)">○</li>
			</ul>
			<img src="{{url_for('static',filename='images/10.jpg')}}" alt="failed"/>
			<img src="{{url_for('static',filename='images/11.jpg')}}" alt="failed"/>
			<img src="{{url_for('static',filename='images/22.jpg')}}" alt="failed"/>
		</div>



		<div class="right">
			<div class="rightD1" style="height:36%;">
				<img src="{{url_for('static',filename='images/9.jpg')}}" /><br/>
				<span style="font-size:13px;">Hi~欢迎来到京东!</span><br/>
				<span id="s1" style="font-size:13px;"><a href="#">登录</a>&nbsp;&nbsp;<a href="#">注册</a></span><br/><br/>
				<span id="s2" ><a href="#" style="font-size:13px;color:#FFF;">新人福利</a></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span id="s3" ><a href="#" style="font-size:13px;color:#DFF;">PLUS会员</a></span>
			</div>
			<hr/>
			<div class="rightD2" style="height:32%;">
				<a href="#" style="margin-left:40px;font-size:13px;text-decoration:none;">促销</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#" style="font-size:13px;text-decoration:none;">公告</a>
				<a href="#" style="margin-left:70px;text-decoration:none;">更多</a>
				<ul class="rightUL">
					<li><a href="#">zfs很帅的问题</a></li>
					<li><a href="#">关于zfs很帅的问题</a></li>
					<li><a href="#">今年关于zfs很帅的问题</a></li>
					<li><a href="#">今世纪关于zfs很帅的问题</a></li>
				</ul>
			</div>
			<hr/>
			<div class="rightD3">
				<table id="table1">
					<tr>
						<td><a href="#">话费</a></td>
						<td><a href="#">酒店</a></td>
						<td><a href="#">机票</a></td>
						<td><a href="#">游戏</a></td>
					</tr>
					<tr>
						<td><a href="#">企业购</a></td>
						<td><a href="#">加油卡</a></td>
						<td><a href="#">电影票</a></td>
						<td><a href="#">火车票</a></td>
					</tr>
					<tr>
						<td><a href="#">众筹</a></td>
						<td><a href="#">理财</a></td>
						<td><a href="#">礼品卡</a></td>
						<td><a href="#">白条</a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>