<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Regis page |TECH</title>


	<!--STYLESHEET-->
	<!--=================================================-->



	<!--Bootstrap Stylesheet [ REQUIRED ]-->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">


	<!--Nifty Stylesheet [ REQUIRED ]-->
<!-- 	<link href="/static/css/nifty.min.css" rel="stylesheet">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
 -->
    <link href="/static/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript">

		$(document).ready(function() {
			var authCode;
	    	randomCode=$(".VeriSpan");
	    	function createCode() {
			    authCode="";
			    var authCodeLength=4;
			    randomArray=[0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R', 'S','T','U','V','W','X','Y','Z'];
			    for(var i=0;i<authCodeLength;i++){
			        var index=Math.floor(Math.random()*36);
			        authCode +=randomArray[index];
			    }
			    randomCode.text(authCode);
			}
			createCode();
			$("#button1").click(function(){
				var s=randomCode.text().toUpperCase();
				ver=$(".VeriIn");
				if(s!=ver.val().toUpperCase()){
					ver.val("error");
				}
  			});

		});
    </script>
	<style type="text/css">
		body{
			background-color: #FFF0F5;
			text-align: center;
		}
		#container2{
			background-color: #E6E6FA;
			border: 1px solid #FFE4E1;
			width: 750px;
			height: 520px;
			float: left;
			margin-left:300px;
			margin-top:50px;

		}
		.VeriSpan{
			border: 1px solid red;
			float: right;
			height:50px;
			width: 300px;
			margin-top: 0px;
			margin-right: 0px;
			background-image: url("/static/images/妖姬.jpeg");
			text-align: center;
			color: #EE3B3B;
			font-size: 40px;
			letter-spacing: 20px;

		}
		.VeriCont{
			width: 700px;
			height: 50px;
			margin-bottom: 20px;
		}
		.VeriIn{
			letter-spacing: 5px;
			font-size: 20px;
			font-weight: 2px;
			 width:300px;
			 height:50px;
		}
		.input-group-addon i{
			color: 	#FF1493;
		}
		/*<div class="VeriCont" >
								<input class="VeriIn" type="text" name="VeriText" placeholder="   请输入验证码" />
								<span class="VeriSpan"></span>
		</div>*/
	</style>

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">
		<div id="container2" class="cls-container2">
		<!-- BACKGROUND IMAGE -->
		<!--===================================================-->
		<div id="bg-overlay" ></div>


		<!-- HEADER -->
		<!--===================================================-->
		<div class="cls-header cls-header-lg">
			<div class="cls-brand">
				<!--a class="box-inline" href="index.html">
                    <img src="/static/img/eye_logo.png" alt="Nifty Logo"  >
                    MadKing


				</a-->
                <h3>zfs</h3>
                <h4>商城注册系统</h4>
			</div>
		</div>
		<!--===================================================-->


		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
			<div class="cls-content-sm panel">
				<div class="panel-body">
					<p class="pad-btm">{{mess}}</p>

					<form id="loginForm" action="#" method="POST">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-user">邮箱</i></div>
								<input type="text" class="form-control" name="email" placeholder="设置你的邮箱">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-username">用户名</i></div>
								<input type="text" class="form-control" name="username" placeholder="设置你的用户名">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk">密码</i></div>
								<input type="password" class="form-control" name="password" placeholder="设置你的登录密码">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-confirm">重复密码</i></div>
								<input type="password" class="form-control" name="confirm_password" placeholder="请再次输入你的密码">
							</div>
						</div>

						<div class="VeriCont" >
								<input class="VeriIn" type="text" name="VeriText" placeholder="       请输入验证码" />
								<span class="VeriSpan"></span>
						</div>
						<!--div class="row">
							<div class="col-xs-8 text-left checkbox">
								<label class="form-checkbox form-icon">
								<input type="checkbox"> 记住我
								</label>
							</div>
							<div class="col-xs-8">
								<div class="form-group text-right">
								<button class="btn btn-success text-uppercase" type="submit">登录</button>
								</div>
							</div>
						</div>
						<div class="mar-btm"><em>- or -</em></div-->
						<button class="btn btn-success  btn-block" id="button1" type="submit">
							<b>注册</b>
						</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <h4 style="color: red"><b>{{ login_err }}</b></h4>
					</form>
				</div>
			</div>
			<div class="pad-ver">
				<a href="/" class="btn-link mar-rgt" style="color:
				#8A2BE2;font-size:20px;">主页</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/login" class="btn-link mar-lft" style="color:
				#8A2BE2;font-size:20px;">登录</a>
			</div>
		</div>
	</div>
		<!--===================================================-->




	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->



	<!--JAVASCRIPT-->
	<!--=================================================-->

	<!--jQuery [ REQUIRED ]-->
	<script src="/static/js/jquery-2.1.1.min.js"></script>


	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="/static/js/bootstrap.min.js"></script>



    <script src="/static/plugins/bootstrap-validator/bootstrapValidator.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#loginForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and cannot be empty'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The username can only consist of alphabetical, number and underscore'
                    }
                }
            },
            password:{
                message: "The password is not valid",
                validators:{
                    notEmpty:{
                        'message': "the password is required and cannot be empty"
                    },
                    // stringLength:{
                    //     min:6,
                    //     max:16,
                    //     message:'The username must be more than 6 and less than 16 characters long'
                    // },
                    regexp : {
	                    regexp : /^(?:(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])|(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])).{6,16}$/,
	                    message : '用户密码长度为6至16位,并且需要包含数字、小写字母、大写字母、符号(至少三种)'
    	    	    }
                }
            },
            confirm_password:{
                message: "The confirm_password is not valid",
                validators:{
                    notEmpty:{
                        'message': "the upassword is required and cannot be empty"
                    },
                    // stringLength:{
                    //     min:6,
                    //     max:16,
                    //     message:'The username must be more than 6 and less than 16 characters long'
                    // },
                    regexp : {
	                    regexp : /^(?:(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])|(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])).{6,16}$/,
	                    message : '用户确认密码长度为6至16位,并且需要包含数字、小写字母、大写字母、符号(至少三种)'
    	    	    },
		            identical: {
                        field: 'password',
                        message: '用户密码与确认密码不一致！'
    	            },
                }
            },
            username:{
                message: "The username is not valid",
                validators:{
                    notEmpty:{
                        'message': "the username is required and cannot be empty"
                    },
                    stringLength:{
                        min:3,
                        max:30,
                        message:'The username must be more than 3 and less than 30 characters long'
                    },
                }
            },

            email: {
                validators: {
                    notEmpty: {
                        message: 'The email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            }
        }
    });
});

</script>

</body>
</html>
