<script src = "/static/js/echarts.js"></script>
<script src = "/static/js/infographic.js"></script>
<script src = "/static/js/echarts-gl.js"></script>
<script src = "/static/js/echarts-tree.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<style type="text/css">
	#users{
		width: 700px;
		height:400px;
		border: 1px solid red;
		float: left;
		margin-top: 40px;
		margin-left: 30px;
		background-color: white;

	}
</style>
<div id="users"></div>
<meta http-equiv="refresh" content="5">


 <script type="text/javascript">
        var data2 = {
                "name": "users",
                "children": [
                    {
                        "name": "userCount", "value": {{ users[0] }}
                    }
                    ,
                    {
                        "name": "userName",
                        "children": [
                                {% for name in users[1] %}
                                {"name":"{{name}}"},
                                {% endfor %}
                        ]
                    }
                ]
            };
        var option = {
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            legend: {
                top: '2%',
                left: '3%',
                orient: 'vertical',
                data: [{
                    name: 'tree1',
                    icon: 'rectangle'
                } ,
                {
                    name: 'UserInfo',
                    icon: 'rectangle'
                }],
                borderColor: '#c23531'
            },
            series:[
                {
                    type: 'tree',
                    name: 'UserInfo',
                    data: [data2],

                    top: '10%',
                    left: '30%',
                    bottom: '22%',
                    right: '18%',

                    symbolSize: 10,

                    label: {
                        normal: {
                            position: 'left',
                            verticalAlign: 'middle',
                            align: 'right'
                        }
                    },

                    leaves: {
                        label: {
                            normal: {
                                position: 'right',
                                verticalAlign: 'middle',
                                align: 'left'
                            }
                        }
                    },

                    expandAndCollapse: true,

                    animationDuration: 550,
                    animationDurationUpdate: 750
                }
            ]
        }
        var myChart = echarts.init(document.getElementById('users'));
        myChart.setOption(option);
    </script>